body {
    margin: 0px;
    font-family: "Lato", sans-serif;
    background-color: #272736;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFFFEB;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Banner */

.banner {
    background-size: 100%;
    image-rendering: pixelated;
}

.banner img {
    width: 100%;
    height: auto;
}

/* Navigation bar */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    background-color: #FFFFEB;
}

.nav-wrapper > .nav-left-side > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    margin-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-wrapper > .nav-right-side > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    margin-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #43434F;
}

.nav-left-side {
    display: flex;
}

.nav-link-wrapper {
    height: 20px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}
  
.nav-link-wrapper:hover {
    border-bottom: 2px solid #43434F;
}

.nav-link-wrapper a{
    color: #C2C2D1;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper a:hover {
    color: #43434F;
}

.active-nav-link {
    border-bottom: 2px solid #43434F;
}

.active-nav-link a {
    color: #43434F !important;
}

/* Game cards */

.grid-four-column {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 2rem;
}

.grid-element {
    width: 100%;
}

.game-card-grid-header {
    margin: auto;
    width: 320px;
}

.game-card-background {
    vertical-align: top;
    margin: auto;
    width: 280px;
    height: auto;
    background-color: #43434F;
    border: 20px solid #43434F;
    border-radius: 20px;
}

.game-card-background a {
    text-decoration: none;
    color: #FFFFEB;
}

.game-card-cover-image {

    width: 280px;
    height: 223px;
    margin-bottom: 7px;

    border-radius: 20px;
    overflow: hidden;
}

.game-card-cover-image img {
    height: 100%;
}

.game-card-title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.game-card-link {
    display: flex;
    height: 40px;
    margin-top: 10px;
    border-radius: 20px;
}

.game-card-link img {
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 0px;
}

.game-card-link text {
    margin: auto;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    text-align: center;
    vertical-align: center;

    padding-bottom: 2px;
}